[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alabaster = "==0.7.13"
appium-python-client = "==2.11.1"
assertpy = "==1.1"
attrs = "==22.2.0"
autocommand = "==2.2.2"
babel = "==2.13.1"
"backports.tarfile" = "==1.2.0"
beautifulsoup4 = "==4.12.2"
certifi = "==2023.7.22"
charset-normalizer = "==3.3.1"
chromedriver-autoinstaller = "==0.6.2"
commonmark = "==0.9.1"
core-universal = "==4.10.3"
cython = "==3.0.5"
docutils = "==0.18.1"
easyprocess = "==1.1"
entrypoint2 = "==1.1"
execnet = "==2.0.2"
eyes-common = "==5.27.1"
eyes-selenium = "==5.25.1"
gtas-python-core = "==0.1.35"
h11 = "==0.14.0"
idna = "==3.4"
imagesize = "==1.4.1"
importlib-metadata = "==8.0.0"
importlib-resources = "==6.4.0"
inflect = "==7.3.1"
iniconfig = "==2.0.0"
"jaraco.context" = "==5.3.0"
"jaraco.functools" = "==4.0.1"
"jaraco.text" = "==3.12.1"
jinja2 = "==3.1.2"
markupsafe = "==2.1.3"
marshmallow = "==2.21.0"
more-itertools = "==10.3.0"
mouseinfo = "==0.1.3"
mss = "==9.0.1"
numpy = "==1.26.2"
opencv-python = "==4.7.0.68"
ordered-set = "==4.1.0"
outcome = "==1.3.0.post0"
packaging = "==23.2"
pillow = "==10.1.0"
platformdirs = "==4.2.2"
pluggy = "==1.3.0"
psutil = "==5.9.5"
pyautogui = "==0.9.54"
pycparser = "==2.21"
pygetwindow = "==0.0.9"
pygments = "==2.16.1"
pymsgbox = "==1.0.9"
pyobjc-core = "==10.0"
pyobjc-framework-cocoa = "==10.0"
pyobjc-framework-quartz = "==10.0"
pyperclip = "==1.8.2"
pyrect = "==0.2.0"
pyscreenshot = "==3.1"
pyscreeze = "==0.1.29"
pysocks = "==1.7.1"
pytest = "==7.4.0"
pytest-rerunfailures = "==12.0"
pytest-xdist = "==3.3.1"
python-dotenv = "==1.0.1"
pytweening = "==1.0.7"
recommonmark = "==0.7.1"
requests = "==2.31.0"
rubicon-objc = "==0.4.7"
screeninfo = "==0.8.1"
selenium = "==4.9.0"
six = "==1.16.0"
sniffio = "==1.3.0"
snowballstemmer = "==2.2.0"
sortedcontainers = "==2.4.0"
soupsieve = "==2.5"
sphinx = "==6.2.1"
sphinx-rtd-theme = "==1.2.2"
sphinxcontrib-applehelp = "==1.0.7"
sphinxcontrib-devhelp = "==1.0.5"
sphinxcontrib-htmlhelp = "==2.0.4"
sphinxcontrib-jquery = "==4.1"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.6"
sphinxcontrib-serializinghtml = "==1.1.9"
testrail-api = "==1.12.1"
tomli = "==2.0.1"
trio = "==0.22.2"
trio-websocket = "==0.11.1"
typeguard = "==4.3.0"
typing-extensions = "==4.12.2"
urllib3 = "==1.26.18"
webdriver-manager = "==4.0.1"
websocket-client = "==0.59.0"
wsproto = "==1.2.0"
zipp = "==3.19.2"

[dev-packages]

[requires]
python_version = "3.11"
